doctype html

html(lang=en)
    head
        meta(charset="UTF-8")
        meta(content="width=divice-width initial-scale=1" name="viewport")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Friends Filter
    body
        .wrapper
            h1 Friends Filter
            script(src="lib/bundle.js")