doctype html

html(lang=en)
    head
        meta(charset="UTF-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Friends Filter
        link(rel="stylesheet" href="css/main.css")
    body
        .wrapper
            .container
    script(src="bundle.js")