*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
}

a{
    display: inline-block;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
}

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 620px;
    height: 490px;
    transform: translate(-50%, -40%);
    background-color: #fff;
    border-radius: 10px;
}

.friends{
    display: flex;
    flex-direction: column;

    &__header{
        width: 100%;
        height: max-content;
    }

    &__main{
        width: 100%;
        flex: 1;
        display: flex;
    }

    &__left,
    &__right{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        border: 1px solid black;
        overflow: hidden;
    }

    &__friend{
        width: 100%;
        height: 100px;
        border: 1px solid grey;
    }

    &__footer{
        width: 100%;
        height: 50px;
    }
}