*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
}

a{
    display: inline-block;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
}

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 620px;
    height: 490px;
    transform: translate(-50%, -40%);
    background-color: #fff;
    border-radius: 10px;
}